<!-- dependencies -->
<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/> -->
<link rel="stylesheet" href="/css/basics/signup.css"/>
<script src="/js/axios.js"></script>
<script src="/js/vue.js"></script>
<!-- dependencies -->

<div signup>
  <form @submit="submit" class="form" v-if="!success">
    <div class="form-group">
      <label>Email</label>
      <input type="email" v-model="email" class="form-control" placeholder="youremail@example.com"/>
    </div>
    <div class="alert alert-warning" v-if="alert" v-text="alert"></div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <div v-if="success" class="alert alert-info">Success</div>
</div>

<script>
  new Vue({
    el: '[signup]',
    data: {
      email: '',
      alert: '',
      success: false
    },
    methods: {
      submit: function (e) {
        e.preventDefault()
        var that = this
        this.alert = ''
        if (!this.email) return this.alert = "Please add your email"
        axios.post('http://localhost:5000/v0/posts', {
          project: '89E49E',
          instance: 1,
          data: {
            email: this.email
          }
        })
        .then(function (response) {
          that.success = true
        })
        .catch(function (error, a, b) {
          that.alert = '' + error.message
        })
      }
    }
  })
</script>
