[contact] {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 300px;
}
[contact] textarea {
  min-height: 90px;
}
[contact] * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[contact] *:before,
[contact] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[contact] html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[contact] body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
[contact] input,
[contact] button,
[contact] select,
[contact] textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[contact] a {
  color: #337ab7;
  text-decoration: none;
}
[contact] a:hover,
[contact] a:focus {
  color: #23527c;
  text-decoration: underline;
}
[contact] a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[contact] figure {
  margin: 0;
}
[contact] img {
  vertical-align: middle;
}
[contact] .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
[contact] .img-rounded {
  border-radius: 6px;
}
[contact] .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
[contact] .img-circle {
  border-radius: 50%;
}
[contact] hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
[contact] .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
[contact] .sr-only-focusable:active,
[contact] .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[contact] [role="button"] {
  cursor: pointer;
}
[contact] .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[contact] .btn:focus,
[contact] .btn:active:focus,
[contact] .btn.active:focus,
[contact] .btn.focus,
[contact] .btn:active.focus,
[contact] .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[contact] .btn:hover,
[contact] .btn:focus,
[contact] .btn.focus {
  color: #333;
  text-decoration: none;
}
[contact] .btn:active,
[contact] .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
[contact] .btn.disabled,
[contact] .btn[disabled],
fieldset[disabled] [contact] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a[contact] .btn.disabled,
fieldset[disabled] a[contact] .btn {
  pointer-events: none;
}
[contact] .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
[contact] .btn-default:focus,
[contact] .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
[contact] .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
[contact] .btn-default:active,
[contact] .btn-default.active,
.open > .dropdown-toggle[contact] .btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
[contact] .btn-default:active:hover,
[contact] .btn-default.active:hover,
.open > .dropdown-toggle[contact] .btn-default:hover,
[contact] .btn-default:active:focus,
[contact] .btn-default.active:focus,
.open > .dropdown-toggle[contact] .btn-default:focus,
[contact] .btn-default:active.focus,
[contact] .btn-default.active.focus,
.open > .dropdown-toggle[contact] .btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
[contact] .btn-default:active,
[contact] .btn-default.active,
.open > .dropdown-toggle[contact] .btn-default {
  background-image: none;
}
[contact] .btn-default.disabled:hover,
[contact] .btn-default[disabled]:hover,
fieldset[disabled] [contact] .btn-default:hover,
[contact] .btn-default.disabled:focus,
[contact] .btn-default[disabled]:focus,
fieldset[disabled] [contact] .btn-default:focus,
[contact] .btn-default.disabled.focus,
[contact] .btn-default[disabled].focus,
fieldset[disabled] [contact] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
[contact] .btn-default .badge {
  color: #fff;
  background-color: #333;
}
[contact] .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
[contact] .btn-primary:focus,
[contact] .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
[contact] .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
[contact] .btn-primary:active,
[contact] .btn-primary.active,
.open > .dropdown-toggle[contact] .btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
[contact] .btn-primary:active:hover,
[contact] .btn-primary.active:hover,
.open > .dropdown-toggle[contact] .btn-primary:hover,
[contact] .btn-primary:active:focus,
[contact] .btn-primary.active:focus,
.open > .dropdown-toggle[contact] .btn-primary:focus,
[contact] .btn-primary:active.focus,
[contact] .btn-primary.active.focus,
.open > .dropdown-toggle[contact] .btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
[contact] .btn-primary:active,
[contact] .btn-primary.active,
.open > .dropdown-toggle[contact] .btn-primary {
  background-image: none;
}
[contact] .btn-primary.disabled:hover,
[contact] .btn-primary[disabled]:hover,
fieldset[disabled] [contact] .btn-primary:hover,
[contact] .btn-primary.disabled:focus,
[contact] .btn-primary[disabled]:focus,
fieldset[disabled] [contact] .btn-primary:focus,
[contact] .btn-primary.disabled.focus,
[contact] .btn-primary[disabled].focus,
fieldset[disabled] [contact] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
[contact] .btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
[contact] .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
[contact] .btn-success:focus,
[contact] .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
[contact] .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
[contact] .btn-success:active,
[contact] .btn-success.active,
.open > .dropdown-toggle[contact] .btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
[contact] .btn-success:active:hover,
[contact] .btn-success.active:hover,
.open > .dropdown-toggle[contact] .btn-success:hover,
[contact] .btn-success:active:focus,
[contact] .btn-success.active:focus,
.open > .dropdown-toggle[contact] .btn-success:focus,
[contact] .btn-success:active.focus,
[contact] .btn-success.active.focus,
.open > .dropdown-toggle[contact] .btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
[contact] .btn-success:active,
[contact] .btn-success.active,
.open > .dropdown-toggle[contact] .btn-success {
  background-image: none;
}
[contact] .btn-success.disabled:hover,
[contact] .btn-success[disabled]:hover,
fieldset[disabled] [contact] .btn-success:hover,
[contact] .btn-success.disabled:focus,
[contact] .btn-success[disabled]:focus,
fieldset[disabled] [contact] .btn-success:focus,
[contact] .btn-success.disabled.focus,
[contact] .btn-success[disabled].focus,
fieldset[disabled] [contact] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
[contact] .btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
[contact] .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
[contact] .btn-info:focus,
[contact] .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
[contact] .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
[contact] .btn-info:active,
[contact] .btn-info.active,
.open > .dropdown-toggle[contact] .btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
[contact] .btn-info:active:hover,
[contact] .btn-info.active:hover,
.open > .dropdown-toggle[contact] .btn-info:hover,
[contact] .btn-info:active:focus,
[contact] .btn-info.active:focus,
.open > .dropdown-toggle[contact] .btn-info:focus,
[contact] .btn-info:active.focus,
[contact] .btn-info.active.focus,
.open > .dropdown-toggle[contact] .btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
[contact] .btn-info:active,
[contact] .btn-info.active,
.open > .dropdown-toggle[contact] .btn-info {
  background-image: none;
}
[contact] .btn-info.disabled:hover,
[contact] .btn-info[disabled]:hover,
fieldset[disabled] [contact] .btn-info:hover,
[contact] .btn-info.disabled:focus,
[contact] .btn-info[disabled]:focus,
fieldset[disabled] [contact] .btn-info:focus,
[contact] .btn-info.disabled.focus,
[contact] .btn-info[disabled].focus,
fieldset[disabled] [contact] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
[contact] .btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
[contact] .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
[contact] .btn-warning:focus,
[contact] .btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
[contact] .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
[contact] .btn-warning:active,
[contact] .btn-warning.active,
.open > .dropdown-toggle[contact] .btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
[contact] .btn-warning:active:hover,
[contact] .btn-warning.active:hover,
.open > .dropdown-toggle[contact] .btn-warning:hover,
[contact] .btn-warning:active:focus,
[contact] .btn-warning.active:focus,
.open > .dropdown-toggle[contact] .btn-warning:focus,
[contact] .btn-warning:active.focus,
[contact] .btn-warning.active.focus,
.open > .dropdown-toggle[contact] .btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
[contact] .btn-warning:active,
[contact] .btn-warning.active,
.open > .dropdown-toggle[contact] .btn-warning {
  background-image: none;
}
[contact] .btn-warning.disabled:hover,
[contact] .btn-warning[disabled]:hover,
fieldset[disabled] [contact] .btn-warning:hover,
[contact] .btn-warning.disabled:focus,
[contact] .btn-warning[disabled]:focus,
fieldset[disabled] [contact] .btn-warning:focus,
[contact] .btn-warning.disabled.focus,
[contact] .btn-warning[disabled].focus,
fieldset[disabled] [contact] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
[contact] .btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
[contact] .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
[contact] .btn-danger:focus,
[contact] .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
[contact] .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
[contact] .btn-danger:active,
[contact] .btn-danger.active,
.open > .dropdown-toggle[contact] .btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
[contact] .btn-danger:active:hover,
[contact] .btn-danger.active:hover,
.open > .dropdown-toggle[contact] .btn-danger:hover,
[contact] .btn-danger:active:focus,
[contact] .btn-danger.active:focus,
.open > .dropdown-toggle[contact] .btn-danger:focus,
[contact] .btn-danger:active.focus,
[contact] .btn-danger.active.focus,
.open > .dropdown-toggle[contact] .btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
[contact] .btn-danger:active,
[contact] .btn-danger.active,
.open > .dropdown-toggle[contact] .btn-danger {
  background-image: none;
}
[contact] .btn-danger.disabled:hover,
[contact] .btn-danger[disabled]:hover,
fieldset[disabled] [contact] .btn-danger:hover,
[contact] .btn-danger.disabled:focus,
[contact] .btn-danger[disabled]:focus,
fieldset[disabled] [contact] .btn-danger:focus,
[contact] .btn-danger.disabled.focus,
[contact] .btn-danger[disabled].focus,
fieldset[disabled] [contact] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
[contact] .btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
[contact] .btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
[contact] .btn-link,
[contact] .btn-link:active,
[contact] .btn-link.active,
[contact] .btn-link[disabled],
fieldset[disabled] [contact] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
[contact] .btn-link,
[contact] .btn-link:hover,
[contact] .btn-link:focus,
[contact] .btn-link:active {
  border-color: transparent;
}
[contact] .btn-link:hover,
[contact] .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
[contact] .btn-link[disabled]:hover,
fieldset[disabled] [contact] .btn-link:hover,
[contact] .btn-link[disabled]:focus,
fieldset[disabled] [contact] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
[contact] .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
[contact] .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
[contact] .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
[contact] .btn-block {
  display: block;
  width: 100%;
}
[contact] .btn-block + .btn-block {
  margin-top: 5px;
}
[contact] input[type="submit"].btn-block,
[contact] input[type="reset"].btn-block,
[contact] input[type="button"].btn-block {
  width: 100%;
}
[contact] .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
[contact] .alert h4 {
  margin-top: 0;
  color: inherit;
}
[contact] .alert .alert-link {
  font-weight: bold;
}
[contact] .alert > p,
[contact] .alert > ul {
  margin-bottom: 0;
}
[contact] .alert > p + p {
  margin-top: 5px;
}
[contact] .alert-dismissable,
[contact] .alert-dismissible {
  padding-right: 35px;
}
[contact] .alert-dismissable .close,
[contact] .alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
[contact] .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
[contact] .alert-success hr {
  border-top-color: #c9e2b3;
}
[contact] .alert-success .alert-link {
  color: #2b542c;
}
[contact] .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
[contact] .alert-info hr {
  border-top-color: #a6e1ec;
}
[contact] .alert-info .alert-link {
  color: #245269;
}
[contact] .alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
[contact] .alert-warning hr {
  border-top-color: #f7e1b5;
}
[contact] .alert-warning .alert-link {
  color: #66512c;
}
[contact] .alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
[contact] .alert-danger hr {
  border-top-color: #e4b9c0;
}
[contact] .alert-danger .alert-link {
  color: #843534;
}
[contact] fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
[contact] legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
[contact] label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
[contact] input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[contact] input[type="radio"],
[contact] input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
[contact] input[type="file"] {
  display: block;
}
[contact] input[type="range"] {
  display: block;
  width: 100%;
}
[contact] select[multiple],
[contact] select[size] {
  height: auto;
}
[contact] input[type="file"]:focus,
[contact] input[type="radio"]:focus,
[contact] input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[contact] output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
[contact] .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
[contact] .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
[contact] .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
[contact] .form-control:-ms-input-placeholder {
  color: #999;
}
[contact] .form-control::-webkit-input-placeholder {
  color: #999;
}
[contact] .form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
[contact] .form-control[disabled],
[contact] .form-control[readonly],
fieldset[disabled] [contact] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
[contact] .form-control[disabled],
fieldset[disabled] [contact] .form-control {
  cursor: not-allowed;
}
textarea[contact] .form-control {
  height: auto;
}
[contact] input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  [contact] input[type="date"].form-control,
  [contact] input[type="time"].form-control,
  [contact] input[type="datetime-local"].form-control,
  [contact] input[type="month"].form-control {
    line-height: 34px;
  }
  [contact] input[type="date"].input-sm,
  [contact] input[type="time"].input-sm,
  [contact] input[type="datetime-local"].input-sm,
  [contact] input[type="month"].input-sm,
  .input-group-sm [contact] input[type="date"],
  .input-group-sm [contact] input[type="time"],
  .input-group-sm [contact] input[type="datetime-local"],
  .input-group-sm [contact] input[type="month"] {
    line-height: 30px;
  }
  [contact] input[type="date"].input-lg,
  [contact] input[type="time"].input-lg,
  [contact] input[type="datetime-local"].input-lg,
  [contact] input[type="month"].input-lg,
  .input-group-lg [contact] input[type="date"],
  .input-group-lg [contact] input[type="time"],
  .input-group-lg [contact] input[type="datetime-local"],
  .input-group-lg [contact] input[type="month"] {
    line-height: 46px;
  }
}
[contact] .form-group {
  margin-bottom: 15px;
}
[contact] .radio,
[contact] .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
[contact] .radio label,
[contact] .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
[contact] .radio input[type="radio"],
[contact] .radio-inline input[type="radio"],
[contact] .checkbox input[type="checkbox"],
[contact] .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
[contact] .radio + .radio,
[contact] .checkbox + .checkbox {
  margin-top: -5px;
}
[contact] .radio-inline,
[contact] .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
[contact] .radio-inline + .radio-inline,
[contact] .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
[contact] input[type="radio"][disabled],
[contact] input[type="checkbox"][disabled],
[contact] input[type="radio"].disabled,
[contact] input[type="checkbox"].disabled,
fieldset[disabled] [contact] input[type="radio"],
fieldset[disabled] [contact] input[type="checkbox"] {
  cursor: not-allowed;
}
[contact] .radio-inline.disabled,
[contact] .checkbox-inline.disabled,
fieldset[disabled] [contact] .radio-inline,
fieldset[disabled] [contact] .checkbox-inline {
  cursor: not-allowed;
}
[contact] .radio.disabled label,
[contact] .checkbox.disabled label,
fieldset[disabled] [contact] .radio label,
fieldset[disabled] [contact] .checkbox label {
  cursor: not-allowed;
}
[contact] .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
[contact] .form-control-static.input-lg,
[contact] .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
[contact] .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select[contact] .input-sm {
  height: 30px;
  line-height: 30px;
}
textarea[contact] .input-sm,
select[multiple][contact] .input-sm {
  height: auto;
}
[contact] .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
[contact] .form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
[contact] .form-group-sm textarea.form-control,
[contact] .form-group-sm select[multiple].form-control {
  height: auto;
}
[contact] .form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
[contact] .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select[contact] .input-lg {
  height: 46px;
  line-height: 46px;
}
textarea[contact] .input-lg,
select[multiple][contact] .input-lg {
  height: auto;
}
[contact] .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
[contact] .form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
[contact] .form-group-lg textarea.form-control,
[contact] .form-group-lg select[multiple].form-control {
  height: auto;
}
[contact] .form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
[contact] .has-feedback {
  position: relative;
}
[contact] .has-feedback .form-control {
  padding-right: 42.5px;
}
[contact] .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
[contact] .input-lg + .form-control-feedback,
[contact] .input-group-lg + .form-control-feedback,
[contact] .form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
[contact] .input-sm + .form-control-feedback,
[contact] .input-group-sm + .form-control-feedback,
[contact] .form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
[contact] .has-success .help-block,
[contact] .has-success .control-label,
[contact] .has-success .radio,
[contact] .has-success .checkbox,
[contact] .has-success .radio-inline,
[contact] .has-success .checkbox-inline,
[contact] .has-success.radio label,
[contact] .has-success.checkbox label,
[contact] .has-success.radio-inline label,
[contact] .has-success.checkbox-inline label {
  color: #3c763d;
}
[contact] .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
[contact] .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
[contact] .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
[contact] .has-success .form-control-feedback {
  color: #3c763d;
}
[contact] .has-warning .help-block,
[contact] .has-warning .control-label,
[contact] .has-warning .radio,
[contact] .has-warning .checkbox,
[contact] .has-warning .radio-inline,
[contact] .has-warning .checkbox-inline,
[contact] .has-warning.radio label,
[contact] .has-warning.checkbox label,
[contact] .has-warning.radio-inline label,
[contact] .has-warning.checkbox-inline label {
  color: #8a6d3b;
}
[contact] .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
[contact] .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
[contact] .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
[contact] .has-warning .form-control-feedback {
  color: #8a6d3b;
}
[contact] .has-error .help-block,
[contact] .has-error .control-label,
[contact] .has-error .radio,
[contact] .has-error .checkbox,
[contact] .has-error .radio-inline,
[contact] .has-error .checkbox-inline,
[contact] .has-error.radio label,
[contact] .has-error.checkbox label,
[contact] .has-error.radio-inline label,
[contact] .has-error.checkbox-inline label {
  color: #a94442;
}
[contact] .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
[contact] .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
[contact] .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
[contact] .has-error .form-control-feedback {
  color: #a94442;
}
[contact] .has-feedback label ~ .form-control-feedback {
  top: 25px;
}
[contact] .has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
[contact] .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  [contact] .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  [contact] .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  [contact] .form-inline .form-control-static {
    display: inline-block;
  }
  [contact] .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  [contact] .form-inline .input-group .input-group-addon,
  [contact] .form-inline .input-group .input-group-btn,
  [contact] .form-inline .input-group .form-control {
    width: auto;
  }
  [contact] .form-inline .input-group > .form-control {
    width: 100%;
  }
  [contact] .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  [contact] .form-inline .radio,
  [contact] .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  [contact] .form-inline .radio label,
  [contact] .form-inline .checkbox label {
    padding-left: 0;
  }
  [contact] .form-inline .radio input[type="radio"],
  [contact] .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  [contact] .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
[contact] .form-horizontal .radio,
[contact] .form-horizontal .checkbox,
[contact] .form-horizontal .radio-inline,
[contact] .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
[contact] .form-horizontal .radio,
[contact] .form-horizontal .checkbox {
  min-height: 27px;
}
[contact] .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  [contact] .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
[contact] .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  [contact] .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  [contact] .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
