<!-- dependencies -->
<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/> -->
<link rel="stylesheet" href="/basics/contact.css"/>
<script src="/vendor/axios.js"></script>
<script src="/vendor/vue.js"></script>
<!-- dependencies -->

<div contact>
  <form @submit="submit" class="form" v-if="!success">
    <div class="form-group">
      <label>Name</label>
      <input type="text" v-model="name" class="form-control" placeholder="Your Name"/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" v-model="email" class="form-control" placeholder="youremail@example.com"/>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea v-model="message" class="form-control" placeholder="Hello, world"></textarea>
    </div>
    <div class="alert alert-warning" v-if="alert" v-text="alert"></div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <div v-if="success" class="alert alert-info">Success</div>
</div>

<script>
  new Vue({
    el: '[contact]',
    data: {
      name: '',
      email: '',
      message: '',
      alert: '',
      success: false
    },
    methods: {
      submit: function (e) {
        e.preventDefault()
        var that = this
        this.alert = ''
        if (!this.message) return this.alert = "Please add your message"
        axios.post('http://localhost:5000/v0/posts', {
          data: {
            name: this.name,
            email: this.email,
            message: this.message
          }
        })
        .then(function (response) {
          that.success = true
        })
        .catch(function (error, a, b) {
          that.alert = '' + error.message
        })
      }
    }
  })
</script>
